## .NET
bin/
obj/
*.user
*.suo
.vs/
.vscode/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
publish/

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/
!**/packages/build/

## Rider
.idea/

## OS
.DS_Store
Thumbs.db
